* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 10px;
}